* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}

@media only screen and (min-width: 800px) {
  div {
    margin: 0;
  }
}
h1 {
  color: #C1895D;
  font-size: 3rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  font-weight: bold;
}

.text-title {
  margin-top: 35rem;
}

.main-text {
  padding: 50px 0;
  background-color: #F3EBE1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.main-text p {
  font-size: 0.85rem;
  width: 80%;
  min-width: 250px;
  text-align: left;
}
.main-text p a {
  color: #C1895D;
}

@media only screen and (min-width: 800px) {
  .main-text p {
    font-size: 1.5rem;
  }
}
.title {
  font-size: 2.2rem;
  font-weight: bold;
  color: #C1895D;
  margin: 1rem auto;
}

h2.title {
  padding: 50px 0;
}

.footer-flex {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

.background-images {
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  position: relative;
  top: -84.2px;
  padding-top: 84.2px;
  margin-bottom: -84.2px;
}

nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  background-image: linear-gradient(rgba(242, 235, 226, 0.6), rgba(242, 235, 226, 0.3));
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}
nav .nav-link {
  color: black !important;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
nav .dropdown-menu {
  background-image: linear-gradient(rgba(242, 235, 226, 0.6), rgba(242, 235, 226, 0.3));
  background-color: rgba(255, 255, 255, 0.0078431373);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  text-shadow: none;
}

.nav-item {
  margin: 0 30px;
  font-size: 1.25rem;
}

@media screen and (max-width: 765px) {
  .navbar-collapse.show {
    margin-bottom: -270px;
  }
  .navbar-collapse {
    background-image: linear-gradient(rgba(242, 235, 226, 0.6), rgba(242, 235, 226, 0.3));
  }
}
.collapsing {
  height: 0 !important;
}

.landing-container {
  background-color: #F3EBE1;
}

.hero {
  min-height: 100vh;
  position: relative;
  top: -84.2px;
  background-image: url(../assets/landing-bg.jpg), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
}
.hero .text-title h2 {
  color: #F3EBE1;
}

.landing-flex {
  background-color: #F3EBE1;
  display: flex;
  flex-direction: column;
}

.landing-detail {
  color: #C1895D;
  font-weight: bold;
  margin: 60px auto;
  max-width: 250px;
}

.landing-text {
  margin: 0 30px;
  font-size: 1.5rem;
}

@media only screen and (min-width: 800px) {
  .main-text p {
    width: 50%;
  }
  .landing-flex {
    flex-direction: row;
    padding: 100px 0;
  }
  .landing-detail {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landing-text {
    width: 50%;
  }
}
.about-hero {
  background-image: url(../assets/about-bg.jpg), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
}

.about-container {
  min-height: 100vh;
  background-color: #F3EBE1;
  padding-bottom: 100px;
}
.about-container img {
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  border-radius: 8px;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.4);
}
.about-container .image-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about-container .image-stack::after {
  content: " ";
  display: table;
  clear: both;
}
.about-container .image-stack-top {
  float: left;
  width: 40%;
  margin-right: -100%;
  margin-left: 10%;
  padding-top: 20%;
  position: relative;
  z-index: 1;
}
.about-container .image-stack-bottom {
  float: right;
  margin-right: 10%;
  width: 60%;
}

.location-hero {
  background-image: url(../assets/location-bg.jpg), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
}

.location-container {
  background-color: #F3EBE1;
  font-size: 1.5rem;
}

.hours-container, .directions-container, .directions-flex {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  margin: 0 auto;
}

.hours-container, .directions-flex {
  padding-top: 5rem;
  width: 75%;
  max-width: 600px;
}

.map-container, .directions-container {
  max-width: 100%;
  padding-bottom: 5rem;
}

@media only screen and (min-width: 800px) {
  .hours-container, .directions-flex {
    width: 100%;
    max-width: 1000px;
  }
  .directions-container {
    align-items: center;
  }
  .directions-container .direction-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .directions-container p {
    width: 85%;
  }
  .map-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .map-container iframe {
    width: 600px;
  }
}
.menu-hero {
  background-image: url(../assets/menu-bg.jpg), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
}

.groups-hero {
  background-image: url(../assets/groups-bg.jpg), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
}

.accommodation-hero {
  background-image: url(../assets/accommodation-bg.jpg), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
  background-position: right bottom;
}

.lessons-hero {
  background-image: url(../assets/lessons-bg.jpg), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
}

.photos-hero {
  background-image: url(../assets/photos-bg.jpg), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
}

.buttons-container {
  background-image: url(../assets/buttons-bg.jpg), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.buttons {
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn {
  transition: color 0.25s;
  color: #F3EBE1;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.0078431373);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border: 0.5px solid #F3EBE1;
  padding: 10px 0;
  width: 150px;
  margin: 1.25rem;
}

.btn:hover {
  background-color: white;
  text-shadow: none;
}

@media only screen and (min-width: 800px) {
  .buttons {
    max-width: 900px;
    padding: 60px 0;
  }
  .btn {
    width: 200px;
    margin: 2.25rem;
    padding: 20px;
  }
}
article body {
  min-height: inherit;
}
article div:first-child {
  max-height: 500px;
}

@media only screen and (min-width: 800px) {
  article div:first-child {
    max-height: inherit;
  }
}
.iggrid-container {
  padding: 100px 0;
  background-color: #F3EBE1;
}

footer {
  padding-top: 5rem;
  background-color: #F3EBE1;
  width: 100%;
  font-size: 0.8rem;
}
footer .contact-container {
  padding: 0px 25px;
}
footer .address {
  text-align: left;
}
footer .title {
  font-size: 0.8rem;
}
footer .links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
footer .links div {
  padding: 0px 10px;
}
footer .copyright {
  margin-top: 10px;
  text-align: center;
  padding: 10px;
}

@media only screen and (min-width: 800px) {
  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer {
    font-size: 1rem;
  }
  footer .title {
    font-size: 1.25rem;
  }
  footer .links {
    font-size: 2rem;
  }
}/*# sourceMappingURL=main.css.map */