$tan: #F3EBE1;
$orange: #C1895D;
$white-overlay: linear-gradient(rgba(242,235,226,0.7),rgba(242,235,226,0.3));
$black-overlay: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3));

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;

}

@media only screen and (min-width : 800px) {
  div {
    margin: 0;
  }

}

// Misc Page Styles

.footer-flex {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

a,  a:hover {
  text-decoration: none;
  color: inherit;
}

.background-images {
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  width: 100%;
  min-height: 800px;
}

.main-text {
  margin: 50px 50px 0px 50px;
}

.title {
  font-weight: 700;
}
// NavBar Styles

@media only screen and (min-width : 800px) {

  // NavBar Styles


  .nav-item{
    margin: 0 30px;
    font-size: 1.25rem;
  }
}

// Landing Page Styles

.landing-container {
  min-height: 100vh;
}

.hero {
  background-image: url(../assets/landing-bg.jpg), $black-overlay;
}

.landing-flex {
  background-color: $tan;
  display: flex;
  flex-direction: column;
}

.landing-detail {
  color: $orange;
  font-weight: 700;
  margin: 60px auto;
  max-width: 250px;
}

.landing-text {
  margin: 0 30px;
}

@media only screen and (min-width : 800px) {

  // Landing Page Styles

  .landing-flex{
    flex-direction: row;
    padding: 100px 0;
  }

  .landing-detail {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landing-text {
    width: 50%;
  }
}

// About Us Styles

// Location Styles

.location-container {
  background-image: url(../assets/location-bg.jpg), $white-overlay;
  display: flex;
  flex-direction: column;

}

.hours-container, .directions-container, .directions-flex {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
}

.map-container {
  max-width: 100%;
}

@media only screen and (min-width : 800px) {

  // Location Styles
  .hours-container, .directions-flex {
    flex-direction: row;
  }
  .map-container {
  iframe{
    width: 600px;
  }
}
}

// Menu Styles
.menu-container {
  background-image: url(../assets/menu-bg.jpg), $white-overlay;
}

// Shop Styles

// Groups Styles
.groups-container {
  background-image: url(../assets/groups-bg.jpg), $white-overlay;
}

// Accommodation Styles

.accommodation-container {
  background-image: url(../assets/accommodation-bg.jpg), $white-overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}


// Lessons Styles
.lessons-container {
  background-image: url(../assets/lessons-bg.jpg), $white-overlay;
}

// Route Buttons Styles

.buttons-container {
  background-image: url(../assets/buttons-bg.jpg), $black-overlay;
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}

.buttons {
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  background-color: $tan;
  border-radius: 30px;
  width: 150px;
  padding: 10px;
  margin: 1.25rem;
}

.btn:hover {
  background-color: white;
}

@media only screen and (min-width : 800px) {

  // Route Buttons Style

  .buttons {
    max-width: 1100px;
    padding: 60px 0;
  }
  .btn {
    width: 200px;
    margin: 2.25rem;
    padding: 20px;
  }

}

// Instagram Widget Styles

article {
  body {
    min-height: inherit;
  }
  div:first-child {
    max-height: 500px;
  }
}

@media only screen and (min-width : 800px) {

  // Instagram Widget Styles

  article {
    div:first-child {
      max-height: inherit;
    }
  }

}

.iggrid-container {
  padding-bottom: 20px;
  background-color: $tan;
}

// Footer Styles

footer {
  background-color: $tan;
  width: 100%;
  font-size: 0.75rem;
  .contact-container {
    padding: 0px 25px;
  }
  .address {
    text-align: left;
  }

  .links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    div {
      padding: 0px 10px;
    }
  }
  
  .copyright {
    text-align: center;
    padding: 10px;
  }
}

@media only screen and (min-width : 800px) {

  // Footer Styles

  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer {
    .links {
      font-size: 2rem;
    }
  }
}