* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  div {
    margin: 0;
  }
}
h1 {
  color: #C1895D;
}

.text-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0px;
}

.main-text {
  width: 50%;
}

.footer-flex {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

.background-images {
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 800px;
}

.main-text {
  margin: 50px 50px 0px 50px;
}

.title {
  font-weight: 700;
}

@media only screen and (min-width: 800px) {
  .nav-item {
    margin: 0 30px;
    font-size: 1.25rem;
  }
}
.landing-container {
  min-height: 100vh;
}

.hero {
  background-image: url(../assets/landing-bg.jpg), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
}

.landing-flex {
  background-color: #F3EBE1;
  display: flex;
  flex-direction: column;
}

.landing-detail {
  color: #C1895D;
  font-weight: 700;
  margin: 60px auto;
  max-width: 250px;
}

.landing-text {
  margin: 0 30px;
}

@media only screen and (min-width: 800px) {
  .landing-flex {
    flex-direction: row;
    padding: 100px 0;
  }
  .landing-detail {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landing-text {
    width: 50%;
  }
}
.about-container {
  min-height: 100vh;
  background-color: #F3EBE1;
  padding-bottom: 100px;
}
.about-container img {
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  border-radius: 8px;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.4);
}
.about-container .image-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about-container .image-stack::after {
  content: " ";
  display: table;
  clear: both;
}
.about-container .image-stack-top {
  float: left;
  width: 40%;
  margin-right: -100%;
  margin-left: 10%;
  padding-top: 20%;
  position: relative;
  z-index: 1;
}
.about-container .image-stack-bottom {
  float: right;
  margin-right: 10%;
  width: 60%;
}

.location-container {
  background-image: url(../assets/location-bg.jpg), linear-gradient(rgba(242, 235, 226, 0.7), rgba(242, 235, 226, 0.3));
  display: flex;
  flex-direction: column;
}

.hours-container, .directions-container, .directions-flex {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
}

.map-container {
  max-width: 100%;
}

@media only screen and (min-width: 800px) {
  .hours-container, .directions-flex {
    flex-direction: row;
  }
  .map-container iframe {
    width: 600px;
  }
}
.menu-container {
  background-image: url(../assets/menu-bg.jpg), linear-gradient(rgba(242, 235, 226, 0.7), rgba(242, 235, 226, 0.3));
}

.groups-container {
  background-image: url(../assets/groups-bg.jpg), linear-gradient(rgba(242, 235, 226, 0.7), rgba(242, 235, 226, 0.3));
}

.accommodation-container {
  background-image: url(../assets/accommodation-bg.jpg), linear-gradient(rgba(242, 235, 226, 0.7), rgba(242, 235, 226, 0.3));
}

.lessons-container {
  background-image: url(../assets/lessons-bg.jpg), linear-gradient(rgba(242, 235, 226, 0.7), rgba(242, 235, 226, 0.3));
}

.buttons-container {
  background-image: url(../assets/buttons-bg.jpg), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.buttons {
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn {
  transition: color 0.25s;
  background-color: #F3EBE1;
  border-radius: 30px;
  width: 150px;
  padding: 10px;
  margin: 1.25rem;
}

.btn:hover {
  background-color: white;
}

@media only screen and (min-width: 800px) {
  .buttons {
    max-width: 1100px;
    padding: 60px 0;
  }
  .btn {
    width: 200px;
    margin: 2.25rem;
    padding: 20px;
  }
}
article body {
  min-height: inherit;
}
article div:first-child {
  max-height: 500px;
}

@media only screen and (min-width: 800px) {
  article div:first-child {
    max-height: inherit;
  }
}
.iggrid-container {
  padding-bottom: 20px;
  background-color: #F3EBE1;
}

footer {
  background-color: #F3EBE1;
  width: 100%;
  font-size: 0.75rem;
}
footer .contact-container {
  padding: 0px 25px;
}
footer .address {
  text-align: left;
}
footer .links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
footer .links div {
  padding: 0px 10px;
}
footer .copyright {
  text-align: center;
  padding: 10px;
}

@media only screen and (min-width: 800px) {
  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .links {
    font-size: 2rem;
  }
}/*# sourceMappingURL=main.css.map */